<a href="https://colab.research.google.com/github/L-Rowland/python_basics/blob/main/Copy_of_Fix_Broken_Code_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FIX BROKEN CODE EX -2

What's wrong with this code ? : <answer here>

In [ ]:
def calculate_area (width, height):
    area = width * height;
    return "The area is: "  + str(area)

print(calculate_area(5, 3))
# should output 15
# added brackets, fixed indentation error, converted "area" to str

The area is: 15

What's wrong with this code ? : <answer here>

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)
        print("Calculating factorial...")

print(factorial(5))
# should output 120
# nothing wrong, outputs 120 as expected

120

What's wrong with this code ? : <answer here>

In [ ]:
items = ["apple", "banana", "cherry"]
for i in range(len(items)):
    print(items[i])
# should output :
  # apple
  # banana
  # cherry
  # changed brackets to square brackets

apple
banana
cherry

What's wrong with this code ? : <answer here>

In [ ]:
name = "Alice"
age = 25
print("Name: " + (name) + ", Age: " + str(age))
# should output : Name: Alice, Age: 25
# converted "age" to str

Name: Alice, Age: 25

What's wrong with this code ? : <answer here>

In [ ]:

# This function has multiple issues but is easier to debug.
def process_data(data_list):
    result = []
    for i in range(len(data_list)):
        if data_list[i] % 2 == 0:
            result.append("Even: " + str(data_list[i]))
        else:
            result.append("Odd: " + str(data_list[i]))

    return result

data = [1, 2, 3, 4, 5]
print(process_data(data))

# Expected Output (if errors are fixed):
# ['Odd: 1', 'Even: 2', 'Odd: 3', 'Even: 4', 'Odd: 5']
# removed square bracket, added colon, removed s from ranges, data_list misspelled, appen changed to append, changed / to %, removed +1/-1 from i

['Odd: 1', 'Even: 2', 'Odd: 3', 'Even: 4', 'Odd: 5']

What's wrong with this code ? : <answer here>

In [ ]:
def greet(name):
   return "Hello, " + name

print(greet("John"))
# should output : Hello, John
# added quote marks around John, changed message to return

Hello, John

What's wrong with this code ? : <answer here>

In [14]:
# This function processes customer orders and calculates discounts
def process_orders(orders):
    total_price = 0
    for order in orders:
        if "price" in order and "quantity" in order:
            total_price += order["price"] * order["quantity"]
        else:
            print("invalid order: " + str(order))

    discount = 0.1 if total_price > 100 else 0.05
    final_price = total_price - total_price * discount
    return "total after discount: " + str(final_price)

orders = [
    {"item": "Laptop", "price": 900, "quantity": 1},
    {"item": "Mouse", "price": 25, "quantity": 2},
    {"item": "Keyboard", "price": 50, "quantity": 1},
    {"item": "Monitor", "price": 30, "quantity": 1}
]

print(process_orders(orders))

# Expected Output (if errors are fixed):
# 'Total after discount: 927.0'
# Monitor had no price, chnaged order and final price to str

total after discount: 927.0