<a href="https://colab.research.google.com/github/L-Rowland/python_basics/blob/main/Fix_Broken_Code_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FIX BROKEN CODE 1

In [26]:
print("Hello, world!")

Hello, world!

What was the error ?
Answer : Missing an " after !

In [25]:
my_number = 10
print(my_number)

10

What was the error ?
Answer : Extra m in number. Removed.

In [35]:
def greet():
    name = input("Enter your name: ")
    print("Hello, " + name)

What was the error ?
Answer : Syntax Error

In [50]:
age = int(input("Enter your age: "))
print("Next year, you will be " , age + 1)

Enter your age: 8
Next year, you will be  9

What was the error ?
Answer : No int, removed inner brackets

In [63]:
def add_numbers(A, B):
     return A + B
print(add_numbers(5, 3))

8

What was the error ?
Answer : two ms in number again, A and B were lowercase, 5 and 3 were strings not integers.

In [53]:
def multiply(x, y):
  return x * y

print(multiply(4, 2))

8

What was the error ?
Answer : x and y were uppercase, x instead of *.

In [65]:
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    print(i)

1
2
3
4
5

What was the error ?
Answer : added : after numbers, no brackets around i.

In [69]:
student = {"name": "Alex", "age": 21}
print(student["name"])

Alex

What was the error ?
Answer : fixed spelling of print, student was named student1, no quotations around name.

In [75]:
def check_even(n):
    if n % 2 == 0:
        print("Even")
    else:
        print("Odd")

check_even(3)

Odd

What was the error ?
Answer : Missing an =